{% extends 'base.html' %}


{% block content %}

<div class="container mt-4">
  <h2>Liste des produits</h2>
  <div class="mb-3">
    <a href="{% url 'produit_new' %}" class="btn btn-primary">Nouveau produit</a>
    <a href="{% url 'categorie_new' %}" class="btn btn-info ml-2" target="_blank">Ajoutez une nouvelle catégorie ici</a>
  </div>
  <form method="get" action="{% url 'produit_list' %}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recherche par nom" name="q" value="{{ request.GET.q }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Recherche</button>
        </div>
    </div>
</form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Nom</th>
        <th scope="col">Code</th>
        <th scope="col">Quantité en Stock</th>
        <th scope="col" class="bg-warning">Quantité Alerte</th>
        <th scope="col" class="bg-danger">Stock Sécurité</th>
        <th scope="col">Actions</th>
        <th scope="col" >Images</th>
      </tr>
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr>
          <td>{{ produit.categorie }}</td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.code }}</td>
          <td {% if produit.quantite_stock < produit.stock_securite %}class="bg-danger"
            {% elif produit.quantite_stock <= produit.quantite_alerte %}class="bg-warning"{% endif %}>
            {{ produit.quantite_stock }}
        </td>
          <td>{{ produit.quantite_alerte }}</td>
          <td>{{ produit.stock_securite }}</td>
          <td>
            <a href="{% url 'produit_edit' produit.pk %}" class="btn btn-sm btn-outline-secondary">Modifier</a>
            <a href="{% url 'produit_delete' produit.pk %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
          </td>
          <td>
            {% if produit.image %}
                <img src="{{ produit.image.image.url }}" alt="{{ produit.nom }}" style="max-width: 50px; max-height: 50px;">
            {% else %}
                <!-- Si aucune image n'est associée -->
                Aucune image
            {% endif %}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="monModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Titre du Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Contenu de votre modal...
      </div>
      <div class="modal-footer">

        <script>
          $(document).ready(function(){
            // Vous pouvez mettre ici du code pour gérer le modal
            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#monModal">Fermer</button>
          });
          </script>
        <button type="button" class="btn btn-primary">Sauvegarder les changements</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}